<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44635103582-d1skjervvo2299q8tkh8sqett6v7jav1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44635103582-d1skjervvo2299q8tkh8sqett6v7jav1</string>
	<key>API_KEY</key>
	<string>AIzaSyCu0G8wsGLxTdhp60p-x3DakE4G1w8oL6w</string>
	<key>GCM_SENDER_ID</key>
	<string>44635103582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goc.mobile</string>
	<key>PROJECT_ID</key>
	<string>goc-app-6efe2</string>
	<key>STORAGE_BUCKET</key>
	<string>goc-app-6efe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44635103582:ios:2ea1fd05dfe7f708</string>
	<key>DATABASE_URL</key>
	<string>https://goc-app-6efe2.firebaseio.com</string>
</dict>
</plist>
